<html ng-app="ticTacToe">

	<head>
		<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./css/style.css">
		<script src="./bower_components/lodash/dist/lodash.min.js"></script>
		<script src="./bower_components/angular/angular.js"></script>
		<script src="./bower_components/jquery/dist/jquery.js"></script>
		<script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="./libs/ui-bootstrap-0.9.0.min.js"></script>
	</head>

	<body ng-controller="gameCtrl">
		<div ng-controller="dropdownCtrl">
			<div class="btn-group" dropdown is-open="status.isopen">
				<button type="button" class="btn btn-primary dropdown-toggle">
					{{state.selectedMode}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" role="menu">
					<li ng-repeat="mode in gameModes" ng-click="setGameMode(mode)"><a href="#">{{mode}}</a></li>
				</ul>
		    </div>
		</div>

		</br>

		<div ng-controller="boardCtrl">
			<div ng-controller="rowCtrl" ng-repeat="row in rows">
				<button class="board-cell btn btn-primary" ng-click='handleMove(row, column)' ng-repeat="column in columns">
					{{board[row][column]}}
			    </button>
			</div>
			</br>
			<div ng-class="{'bold': state.playerOneTurn}">
				Player 1: {{playerOneMarker}}
			</div>
			<div ng-class="{'bold': !state.playerOneTurn}">
				Player 2: {{playerTwoMarker}}
			</div>
			<button class="btn btn-primary" ng-click='resetGame()'>
				Reset Game
		    </button>
			</br>
			</br>
			<div ng-show='gameIsOver()'>
				<div ng-show='state.winningPlayer'>
					{{state.winningPlayer}} Wins!
				</div>
				<div ng-hide='state.winningPlayer'>
					Draw!
				</div>
			</div>
		</div>



		<script src="src/ticTacToe.js"></script>
		<script src="src/ai.js"></script>
	</body>
</html>